// Required
@import '@/node_modules/bootstrap/scss/functions';
@import '@/node_modules/bootstrap/scss/variables';
@import '@/node_modules/bootstrap/scss/mixins';

$primary: #ec7a5c;

$theme-colors: (
  'primary': $primary,
);

$font-sizes: map-merge(
  (
    64: $font-size-base * 4,
  ),
  $font-sizes
);

@import '@/node_modules/bootstrap/scss/bootstrap.scss';

// $theme-colors: (
//   'primary': #EC7A5C,
//   'secondary': #833bec,
//   'success': #1ce1ac,
//   'info': #ff7d50,
//   'warning': #ffbe0b,
//   'danger': #ff007f,
//   'light': #c0ccda,
//   'dark': #001738,
// );
